.title {
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
tr td:first-child {
  padding-right: 16px;
}
.error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
